    -webkit-locale: "es";
    box-sizing: border-box;
    --primary: #37ca37;
    --secondary: #188bf6;
    --red: #e93d3d;
    --orange: #f6ad55;
    --yellow: #faf089;
    --malibu: #63b3ed;
    --indigo: #757BBD;
    --purple: #d6bcfa;
    --pink: #fbb6ce;
    --overlay: rgba(0, 0, 0, 0.5);
    --color-m55pzctw: #c7fff8;
    --color-m55s3tfc: 1bc7b1;
    --arial: 'Arial';
    --lato: 'Lato';
    --open-sans: 'Open Sans';
    --montserrat: 'Montserrat';
    --roboto: 'Roboto';
    --inter: 'Inter';
    --poppins: 'Poppins';
    --lora: 'Lora';
    --karla: 'Karla';
    --frank-ruhl-libre: 'Frank Ruhl Libre';
    --archivo-black: 'Archivo Black';
    --archivo: 'Archivo';
    --fjalla-one: 'Fjalla One';
    --rubik: 'Rubik';
    --source-sans-3: 'Source Sans 3';
    --source-sans-pro: 'Source Sans Pro';
    --work-sans: 'Work Sans';
    --headlinefont: 'Montserrat';
    --contentfont: 'Lato';
    --text-color: #000000;
    --link-color: #188bf6;
    --color-m55otrg0: #D6D6D6;
    --color-m55f1il0: #F8FF06;
    --color-m55otlb7: #B0B0B0;
    --color-m55qzt67: #4B4B4B;
    --color-m55s4ikn: #092320;
    --color-m55q01a7: #d5fffa;
    --green: #9ae6b4;
    --color-m4ye6njg: #deefea;
    --color-m55p9xxd: #1BC7B1;
    --color-m55s44o5: #1bc7b1;
    --gray: #cbd5e0;
    --teal: #81e6d9;
    --white: #ffffff;
    --black: #000000;
    --transparent: transparent;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;